<br />
<div class="grid-x align-center">
  <div class="cell small-10">
    <div class="callout">
      <h1>Add Inventory</h1>

      <a class="button secondary" href="/">Back</a>

    </div>
    <form id="chevy-rider">
      <label>

        <div class="form-group">
          <label for="category">Select Department:</label>
        
                <select id="departmentId" class="custom-select">
                <option disabled selected value  value="volvo"> -- select option --</option>

                    {{#each dropDownOptions}}
                <option 
                 value="{{id}}"
                 aria-label="Department Name Dropdown"> {{id}}{{departmentName}}
                 </option>        
               {{/each}}
          </select>
        </div>


         {{!-- <label>
        Department:
     <input type="text" value="{{DepartmentName}}"  id="new-DepartmentName"  aria-label="DepartmentName">
      </label> --}}

      <label>
        Item Name:
        <input
          type="text"
          value="{{itemName}}"
          id="new-itemName"
          aria-label="add tool or item name"
        />
      </label>

      <label>
        Item Details/ Location:
        <input
          type="text"
          value="{{placement}}"
          id="new-location"
          aria-label="add location or department"
        />
      </label>

      <label>
        Part Number/ Serial-Number/ Model #:
        <input
          type="text"
          value="{{serial}}"
          id="new-serial"
          aria-label="add serial or part number"
        />
      </label>

      <label>
        Count:
        <input
          type="text"
          value="{{count}}"
          id="new-count"
          aria-label="add count"
        />
      </label>

      <label>
        Accounted by:
        <input
          type="text"
          value="{{countedBy}}"
          id="new-countedBy"
          aria-label="name of person who counted"
        />
      </label>

      <input type="hidden" />

      <button type="submit" class="button success">Add</button>
    </form>

  </div>

</div>

<script src="/assets/js/addItem.js"></script>