   <article class="grid-container">
   <div class="grid-y align-center">
      <div class="grid-x align-center">
      
        <div class="cell medium-9">
          
          <div class="blog-post">
            <h4>Created Date: <small>{{departmentView.createdAt}}</small></h4>
             <br>
                  <a class="button secondary" href="/departmentArrayItems/{{departmentView.id}}">Back</a>
                 
             <br>
                   <div class="callout">
                   
               <p><strong>Department/ Crew:</strong></p><h3> <bold>{{departmentView.departmentName}}</bold></h3>
              </div>
              
             <div class="callout">
               <p><strong>Supervisor/ Manager:</strong> </p> <h3><bold>{{departmentView.supervisor}}</bold> </h3>
              </div>
             <div class="callout">
              <p><strong>Lead/ Spotter:</strong> </p>   <h3>{{departmentView.lead}} </h3>
              </div>

            <div class="callout">
              <ul class="menu simple">
                <li> <strong>Edited: </strong>{{departmentView.updatedAt}}</li>
                {{!-- <li><input type="hidden" value="{{routeName}}" id="item-id" ></li> --}}
             
             </ul>   
            </div>
             <div class="callout">
             <a class="button expanded" href="/departmentEditPage/{{departmentView.id}}">Edit</a>
              </div>
               <div class="callout">
           
             <a class="button secondary expanded" href="/departmentArrayItems/{{departmentView.id}}">Back</a>
              </div>
            
               <a class="button warning secondary expanded" id="delete"  data-id="{{departmentView.id}}">Delete Department</a>   
           
              
          </div>
          </div>
        </div>
      </div>
   </article>

<script>
  $("#delete").on("click", function (){
    const confirmDelete = confirm("All items in this department will be deleted do with to continue?")
    if(confirmDelete){
      console.log("ajax call log is: " + $(this).data("id"))
          const routeToDelete = $(this).data("id");

    $.ajax({
      url: `/api/deleteDepartment/${routeToDelete}`,
      method: "DELETE"
    }).then(function (){
     window.location.replace("/");
     alert("successfully deleted selected item")
    })

    }

  })
</script>