   <article class="grid-container">
      <div class="grid-x align-center">
        <div class="cell medium-8">
            <br>
          <div class="blog-post">
            <h3>Created Date: <small>{{createdAt}}</small></h3>
             <br>
                  <a class="button secondary" href="/">Back</a>
                 
             <br>
                   <div class="callout">
                   
               <p><strong>Department/ Crew:</strong></p><h3> <bold>{{name}}</bold></h3>
              </div>
              
             <div class="callout">
               <p><strong>Supervisor/ Manager:</strong> </p> <h3><bold>{{supervisor}}</bold> </h3>
              </div>
             <div class="callout">
              <p><strong>Lead/ Spotter:</strong> </p>   <h3>{{lead}} </h3>
              </div>

            <div class="callout">
              <ul class="menu simple">
                <li>Edited:{{updatedAt}}</li>
                <li><input type="hidden" value="{{routeName}}" id="item-id" ></li>
             
             </ul>   
            </div>
             <div class="callout">
             <a class="button expanded" href="/item/{{routeName}}/edit">Edit</a>
              </div>
               <div class="callout">
           
             <a class="button secondary expanded" href="/allItem">Back</a>
              </div>
            
               <a class="button warning secondary expanded" id="delete" data-id="{{routeName}}">Delete Item</a>   
           
              
          </div>
        </div>
      </div>
   </article>

<script>
  $("#delete").on("click", function (){
    const routeToDelete = $(this).data("routeName");
    $.ajax({
      url: `/api/thing/${routeToDelete}`,
      method: "DELETE"
    }).then(function (){
     window.location.replace("/allItem");
     alert("successfully deleted selected item")
    })
  })
</script>