
 <br>
 
 <article class="grid-container">
      <div class="grid-x align-center">
        <div class="cell medium-8">
         <form id="monkey-code">
           
<label>
  Name:
<input type="text" value="{{name}}" id="name-input" aria-label="name of item">  

</label>
Department/location:
    <input type="text" value="{{placement}}" id="placement-input" aria-label="department placement"> 
<label>


</label>
Serial/ Part #:
<input type="text" value="{{serial}}" id="serial-num" aria-label="serial number">
<label>


</label>
 Count:
          <input type="text" value="{{count}}" id="exact-count" aria-label="count" >
<label>


</label>
 Count by Name:
          <input type="text" value="{{countedBy}}" id="counted-by" aria-label="count" >
<label>
  


<input type="hidden" value="{{id}}" id="item-id" >
</label>        
          
         
          
   <button type="submit" class="button">update</button>
        </form>
        </div>
      </div>
   </article>
 <script src="/assets/js/editar.js"></script>

