
<div class="grid-container full">
  <div class="grid-x grid-margin-x">
    <div class="cell small-3"></div>
    <div class="cell small-6"><h1>Edit Item</h1> <a class="button" href="/allItem">Back</a>
    <form id="monkey-code">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
     
      
          <input type="text" value="{{name}}" id="name-input">
     
   
        
          <input type="text" value="{{placement}}" id="placement-input">
     

     
          <input type="text" value="{{serial}}" id="serial-num" >

   
          <input type="text" value="{{count}}" id="exact-count" >

        
          <input type="hidden" value="{{id}}" id="item-id" >
 
      </div>
    </div>
  </div>
  <button> go</button>


</form>
    
    </div>


    <div class="cell small-3"></div>
  </div>
</div>

<script>
  $("#monkey-code").on("submit", function (event) {
      event.preventDefault();
    const name = $("#name-input").vall();
     const placement = $("#placement-input").vall();
    const serial $("#serial-num").vall();
    const Count = $("#exact-count").vall();
    const id = $("#item-id").vall();
console.log(id);
 $.ajax({
   url:`/api/item/${id}`,
   method: "PUT",
   data: {
     name: name,
     placement: placement,
     serial: serial,
     count: Count,
   },
 }).then(function () {
 window.location.href = `/item/${id}`;
 }).catch(err => {
   console.log(err)
    res.status(500).json({
        error: true,
        data: null,
        message: "faild to update item",
      });
 })
  })