   <article class="grid-container">
      <div class="grid-x align-center">
        <div class="cell medium-8">
            <br>
          <div class="blog-post">
            <h3>Created Date: <small>{{createdAt}}</small></h3>
             <br>
                   <div class="callout">
                   
               <p><strong>name:</strong></p><h3> <bold>{{name}}</bold></h3>
              </div>
              
             <div class="callout">
               <p><strong>Location/Description:</strong> </p> <h3><bold>{{placement}}</bold> </h3>
              </div>
             <div class="callout">
              <p><strong>Serial-Part #:</strong> </p>   <h3>{{serial}} </h3>
              </div>
             <div class="callout">
                <p><strong>Count:</strong>  </p>  <h3>{{count}} </h3>
              </div>
                 <div class="callout">
                <p><strong> Counted by Name:</strong> </p>  <h3>{{countedBy}} </h3>
              </div>
               <div class="callout">
                <p><strong> Department: </strong>  </p>  <h3>{{DepartmentName}} </h3>
              </div>
            <div class="callout">
              <ul class="menu simple">
                <li>Edited:{{updatedAt}}</li>
                <li>Database Id: {{id}}</li>
             
             </ul>   
            </div>
             <div class="callout">
             <a class="button expanded" href="/item/{{id}}/edit">Edit</a>
              </div>
               <div class="callout">
           
             <a class="button secondary expanded" href="/allItem">Back</a>
              </div>
            
               <a class="button warning secondary expanded" id="delete" data-id="{{id}}">Delete Item</a>   
           
              
          </div>
        </div>
      </div>
   </article>

<script>
  $("#delete").on("click", function (){
    const idToDelete = $(this).data("id");
    $.ajax({
      url: `/api/thing/${idToDelete}`,
      method: "DELETE"
    }).then(function (){
     window.location.replace("/allItem");
     alert("successfully deleted selected item")
    })
  })
</script>