   <article class="grid-container">
      <div class="grid-x align-center">
        <div class="cell medium-8">
          <div class="blog-post">
            <h3>Created Date <small>{{createdAt}}</small></h3>
                   <div class="callout">
               <p>name:</p><h3> {{name}} </h3>
              </div>
              
             <div class="callout">
               <p> location/discription:</p>  <h3>{{placement}} </h3>
              </div>
             <div class="callout">
              <p>serial/part#: </p>   <h3>{{serial}} </h3>
              </div>
             <div class="callout">
                <p> count: </p>  <h3>{{count}} </h3>
              </div>
            <div class="callout">
              <ul class="menu simple">
                <li>Edited:{{updatedAt}}</li>
                <li>Database Id: {{id}}</li>
                 <li><a class="button secondary large " href="/allItem">Back</a></li>
                <li><a class="button primary large" href="/item/{{id}}/edit">Edit</a></li>
                 <li><button type="button tiny" class="alert button">Delete</button></li>
              </ul>
            </div>
          </div>
        </div>
    

      </div>
   </article>
