<div class="grid-container full">
  <div class="grid-x grid-margin-x">
    <div class="cell small-3"></div>
    <div class="cell small-7"><div class="text-center">
      <br>
      <div class="callout large primary">
          <div class="text-center">
            <h1>ALL</h1>
            <h1>{{departmentItems.departmentCrewName}}</h1>
            <h2 class="subheader">Total Items saved: {{departmentItems.Items.length}}</h2>
          </div>
        </div>
    </div></div>
    <div class="cell small-2"></div>
  </div>

<div class="grid-container full">
  <div class="grid-x grid-margin-x">
    <div class="cell small-3"></div>
    <div class="cell small-6"><ul>
    {{#each allItems}}
<li>
   <h2>{{name}}</h2>
   <h4>Serial/part#:{{serial}}</h4>
<a class="button tiny" href="/item/{{id}}">View Item</a>
<a class="button secondary tiny" href="/item/{{id}}/edit">Edit Item</a>
    <hr>
</li>
    {{/each}}
</ul> </div>
    <div class="cell small-3"></div>
    
  </div>
{{!-- <script src="/assets/js/getDepartmentCrewAdd.js"></script> --}}

