<div class="grid-container full">
  <div class="grid-x grid-margin-x">
    <div class="cell small-1"></div>
    <div class="cell small-10">
      <div class="text-center">
      <br>
      <div class="callout large primary">
          <div class="text-center">
            
            <h1>{{departmentObj.departmentName}} Items</h1>
            <h2 class="subheader">Total Items saved: {{departmentObj.Items.length}}</h2>
                 <a class="button secondary" href="/">Back</a> 
            <a class="button warning" href="/departmentView/{{departmentObj.id}}">View - <strong>{{departmentObj.departmentName}}</strong> </a>  
          </div>
      
        </div>
          
          <div class="cell small-1"></div>
        </div>

        <div class="grid-container full">
        <div class="grid-x grid-margin-x">
        <div class="cell small-3"></div>
        <div class="cell small-6"><ul>
        {{#each departmentObj.Items}}
        <li>
        <h2>{{itemName}}</h2>
        <h4>Serial/part#:{{serial}}</h4>
        <a class="button tiny" href="/item/{{id}}">View Item</a>
        <a class="button secondary tiny" href="/item/{{id}}/edit">Edit Item</a>
        <hr>
        </li>
        {{/each}}
        </ul> </div>
        <div class="cell small-1"></div>

        </div>
 
 </div>
</div>
